flows.json
[{"id":"d7b4c911.9a2a78","type":"tab","label":"Web-client Flow","disabled":false,"info":""},{"id":"fad8137b.3571b","type":"inject","z":"d7b4c911.9a2a78","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"1","x":80,"y":220,"wires":[["fcc3e42e.6f5dc8"]]},{"id":"fcc3e42e.6f5dc8","type":"function","z":"d7b4c911.9a2a78","name":"Temp Sensor","func":"var obj = new Object();\n    obj.temp  = 13\n    obj.water = 1800\n    obj.hum = 160\n    obj.moist = 1800\nmsg.payload= JSON.stringify(obj);\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":220,"wires":[["98b7e53d.bf6ac8"]]},{"id":"98b7e53d.bf6ac8","type":"json","z":"d7b4c911.9a2a78","name":"","property":"payload","action":"","pretty":false,"x":550,"y":220,"wires":[["91688dea.a8153"]],"info":"{\n    \n}"},{"id":"976fd53d.ca0268","type":"mqtt in","z":"d7b4c911.9a2a78","name":"","topic":"Irrigation","qos":"0","datatype":"json","broker":"5217ac9c.2391f4","x":60,"y":340,"wires":[["39f71589.ae524a"]]},{"id":"91688dea.a8153","type":"mqtt out","z":"d7b4c911.9a2a78","name":"","topic":"Irrigation","qos":"","retain":"","broker":"5217ac9c.2391f4","x":760,"y":220,"wires":[]},{"id":"39f71589.ae524a","type":"function","z":"d7b4c911.9a2a78","name":"Condition Check","func":"if (msg.payload.temp > 10 && msg.payload.hum > 150 && msg.payload.moist < 2000 &&  msg.payload.water < 2000){\n    msg.payload.condition = 1\n    msg.paths_correlationId = 111\n}\nelse if (msg.payload.temp > 10 && msg.payload.hum > 150 && msg.payload.moist > 2000 &&  msg.payload.water < 2000) {\n    msg.payload.condition = 2\n    msg.paths_correlationId = 111\n}\nelse if (msg.payload.temp > 10 && msg.payload.hum > 150 && msg.payload.moist < 2000 &&  msg.payload.water > 2000) {\n    msg.payload.condition = 2\n    msg.paths_correlationId = 111\n}\nelse {\n   msg.payload.condition = 2\n   msg.paths_correlationId = 111\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":340,"wires":[["e31c4e60.6a003"]]},{"id":"b6520e48.2df95","type":"mqtt out","z":"d7b4c911.9a2a78","name":"","topic":"Result","qos":"","retain":"","broker":"5217ac9c.2391f4","x":1090,"y":540,"wires":[]},{"id":"e10a6dfa.bba8","type":"mqtt in","z":"d7b4c911.9a2a78","name":"","topic":"Irrigation","qos":"0","datatype":"json","broker":"5217ac9c.2391f4","x":140,"y":660,"wires":[["ecaa8633.fc1e48","691eac01.cb4ad4","3816464b.e86d6a","7498a54c.84f06c"]]},{"id":"ecaa8633.fc1e48","type":"ui_gauge","z":"d7b4c911.9a2a78","name":"Temperature","group":"1a0745d0.5f948a","order":1,"width":7,"height":6,"gtype":"gage","title":"Temperature","label":"°C","format":"{{msg.payload.temp}}","min":"0","max":"15","colors":["#00b500","#e6e600","#802425"],"seg1":"","seg2":"","x":570,"y":660,"wires":[]},{"id":"691eac01.cb4ad4","type":"ui_gauge","z":"d7b4c911.9a2a78","name":"Humidity","group":"1a0745d0.5f948a","order":3,"width":7,"height":6,"gtype":"compass","title":"Humidity","label":"","format":"{{msg.payload.hum}}","min":"140","max":"200","colors":["#00b500","#e6e600","#802425"],"seg1":"","seg2":"","x":560,"y":620,"wires":[]},{"id":"7498a54c.84f06c","type":"ui_gauge","z":"d7b4c911.9a2a78","name":"Water","group":"1a0745d0.5f948a","order":9,"width":7,"height":6,"gtype":"wave","title":"Water","label":"","format":"{{msg.payload.water}}","min":"0","max":"4500","colors":["#00b500","#e6e600","#802425"],"seg1":"","seg2":"","x":550,"y":740,"wires":[]},{"id":"3816464b.e86d6a","type":"ui_gauge","z":"d7b4c911.9a2a78","name":"Moisture","group":"1a0745d0.5f948a","order":11,"width":7,"height":6,"gtype":"donut","title":"Moisture","label":"","format":"{{msg.payload.moist}}","min":"0","max":"4500","colors":["#00b500","#e6e600","#802425"],"seg1":"","seg2":"","x":560,"y":700,"wires":[]},{"id":"b455a059.726","type":"function","z":"d7b4c911.9a2a78","name":"Audio","func":"msg.payload =  msg.payload.description + \" The chances of rain are \" + msg.payload.clouds+ \"%\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":540,"wires":[[]]},{"id":"4d5e19ff.0d7828","type":"function","z":"d7b4c911.9a2a78","name":"payload","func":"if(msg.payload.clouds > 60) {\n    msg.payload.weather = 2\n    msg.paths_correlationId = 111\n}\nelse {\n    msg.payload.weather =  1\n    msg.paths_correlationId = 111\n}\nreturn msg\n","outputs":1,"noerr":0,"x":440,"y":440,"wires":[["534593f7.16ebcc"]]},{"id":"a0b68000.1983a","type":"function","z":"d7b4c911.9a2a78","name":"Final Condition Check","func":"if(msg.paths.cloud.weather == 2) {\n    msg.payload = 2\n}\nelse {\n    msg.payload = msg.payload.condition\n}\nreturn msg;","outputs":1,"noerr":0,"x":1100,"y":380,"wires":[["b6520e48.2df95"]]},{"id":"a737701b.27c3","type":"openweathermap","z":"d7b4c911.9a2a78","name":"Weather API","wtype":"current","lon":"","lat":"","city":"Dublin","country":"Ireland","language":"en","x":250,"y":480,"wires":[["4d5e19ff.0d7828","b455a059.726"]]},{"id":"bbdbc13a.a3c7a","type":"mqtt in","z":"d7b4c911.9a2a78","name":"","topic":"Irrigation","qos":"0","datatype":"json","broker":"5217ac9c.2391f4","x":60,"y":480,"wires":[["a737701b.27c3"]]},{"id":"4b6c9121.fcb22","type":"wait-paths","z":"d7b4c911.9a2a78","name":"","paths":"[\"condition\",\"cloud\"]","timeout":15000,"finalTimeout":60000,"x":870,"y":380,"wires":[["a0b68000.1983a"]]},{"id":"e31c4e60.6a003","type":"change","z":"d7b4c911.9a2a78","name":"","rules":[{"t":"set","p":"paths[\"condition\"]","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":340,"wires":[["4b6c9121.fcb22"]]},{"id":"534593f7.16ebcc","type":"change","z":"d7b4c911.9a2a78","name":"","rules":[{"t":"set","p":"paths[\"cloud\"]","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":440,"wires":[["4b6c9121.fcb22"]]},{"id":"5217ac9c.2391f4","type":"mqtt-broker","z":"","name":"Simulate","broker":"a3jjkbw4vqw4wh-ats.iot.us-east-1.amazonaws.com","port":"8883","tls":"814276c5.e6ca38","clientid":"","usetls":true,"compatmode":false,"keepalive":"10","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1a0745d0.5f948a","type":"ui_group","z":"","name":"Irrigation","tab":"c3d32c9f.91238","disp":true,"width":"16","collapse":false},{"id":"814276c5.e6ca38","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"c5414cc7b5-certificate.pem.crt","keyname":"c5414cc7b5-private.pem.key","caname":"RootCA1.pem","servername":"","verifyservercert":true},{"id":"c3d32c9f.91238","type":"ui_tab","z":"","name":"Irrigation","icon":"dashboard","disabled":false,"hidden":false}]